.announcement-banner {
    display: flex;
    background-color: #000;
    color: #fdb4fa;
    letter-spacing: 1.4px;
    text-align: center;
    padding: 17px 0;
    font: 600 20px "Jost", sans-serif;
    position: absolute;
    top:  55px;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
  
  }
 

  @media (max-width: 991px) {
    .announcement-banner {
      max-width: 100%;
    }
  }

  
   
